rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to modify their own personal folder
    match /teams/{teamId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == teamId;
    }

    // Deny every calls to the backup databases
    match /results/v1.0.0 {
    	allow read, write: if false;
    }
    match /results/v1.0.1 {
    	allow read, write: if false;
    }
    match /results/v1.0.2 {
    	allow read, write: if false;
    }
    
    match /results/v1.0.3/teams/{teamId}/{documents=**} {
    	allow read, write: if false;
    }

    // Allow every users to post their results
    match /results/v1.0.4/teams/{teamId}/{documents=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == teamId;
    }
    
    // Allow every users to post comments
    match /comments/v1.0.4/{teamId}/{documents=**} {
      allow read: if false;
      allow write:  if request.auth != null && request.auth.uid == teamId;
    }
  }
}
